* {
  margin: 0;
  padding: 0;
}

body {
  width: 75vh;
  margin: 100px auto;
  background-color: #A7D2D6;
  color: #FFE39F;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 48px;
}

form {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 100px 50px;
  grid-row-gap: 20px;
}

input {
  background: none;
  padding: 20px;
  border: 1px solid #FFE39F;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}

input::placeholder {
  color: rgba(255, 227, 159, 0.5);
}

input:focus {
  /* border: 1px solid rgba(255, 227, 159, 1)!important; */
  box-shadow: 0 0 10px rgba(255, 227, 159, 0.5)!important;
  outline: none;
}

button {
  background: none;
  border: 1px solid #FFE39F;
  color: inherit;
  transition: background 1s;
  font-size: inherit;
  font-family: inherit;
}

button:hover {
  background-color: #FFE39F;
  color: #A7D2D6;
}

#target {
  margin-top: 50px;
  text-align: center;
}

#target p {
  margin-top: 20px;
}
